.playerName {
    min-width: 60px
}


.modal-dialog-fluid {
    min-width: 75%;
    max-width: 80%;
    width: 150%;
}

.scroll_div {
    box-sizing: initial;
}

input {
    font-size: 20px;
}

/*table tbody tr td .top {*/
/*    background-color: red;*/
/*    color: white;*/
/*    position: absolute;*/
/*    top: 200px;*/
/*    left: 100px;*/
/*    z-index: 10;*/
/*}*/

